PORT=4000
LOG_LEVEL=info
APP_ENV=development
APP_DATA_DIR=.local/data
ALICE_LOGICAL_IP=10.10.0.2
BOB_LOGICAL_IP=10.10.0.3
ALICE_PRIVATE_KEY_PATH=.local/data/keys/alice/private.pem
ALICE_PUBLIC_KEY_PATH=.local/data/keys/alice/public.pem
BOB_PRIVATE_KEY_PATH=.local/data/keys/bob/private.pem
BOB_PUBLIC_KEY_PATH=.local/data/keys/bob/public.pem
BOB_TARGET_BASE_URL=http://127.0.0.1:4000
